Host            github.com
  User          git
  IdentityFile  ~/.ssh/id_ed25519
  CheckHostIP   no
  PasswordAuthentication    no
Host            gitlab.com
  User          git
  IdentityFile  ~/.ssh/id_ed25519
  CheckHostIP   no
  PasswordAuthentication    no
Host            bitbucket.org
  User          git
  IdentityFile  ~/.ssh/id_ed25519
  CheckHostIP   no
  PasswordAuthentication    no
# -- proxy
  #HostName      ssh.github.com
  #HostName      altssh.gitlab.com
  #HostName      altssh.bitbucket.org
  #Port          443
  # -- connect / connect-proxy
  #ProxyCommand  connect-proxy -H proxy.example.com:8080 %h %p
  # -- nc (OpenBSD)
  #ProxyCommand  nc -X connect -x proxy.example.com:8080 %h %p
  # -- ncat (Nmap)
  #ProxyCommand  ncat --proxy-type http --proxy proxy.example.com:8080 %h %p
