[core]
	editor = vim
	pager = less
	excludesFile = ~/.gitignore
[alias]
	np = !git --no-pager
	ap = add --patch
	br = branch
	co = checkout
	df = diff
	mg = merge
	rb = rebase
	ir = rebase --interactive
	id = rev-parse HEAD
	sw = switch
	egrep = grep -E
	fgrep = grep -F
	pgrep = grep -P
	fast-forward = merge --ff-only
	irebase = rebase --interactive
	unstage = reset HEAD --
	RESET = reset --hard
;	# pseudo command
;	# - check wheather conflict occurs or not before merging
;	#   https://qiita.com/horimislime/items/84fa431460c8d39f37e6
	spadework = !sh -c "git format-patch $(git rev-parse --abbrev-ref HEAD)..$(git rev-parse --abbrev-ref @{-1}) --stdout | git apply --check"
;	# - show brief status in color
	where-i-am = !bash ~/bin/git-whereiam.bash
[pager]
;	# -F: automatically exit if one screen
;	# -X: leave displayed contents
	branch = less -F -X
	grep = less -F -X
[commit]
;	# set `git commit --verbose` as default
	verbose = true
[fetch]
;	# prune deleted remote branches automatically
;	# cf. `git remote prune origin`
	prune = true
[grep]
	lineNumber = true
	extendedRegexp = true
[log]
	date = format:%F(%a) %T %z
[merge]
;	# set `git merge --no-ff` as default
	ff = false
[pull]
;	# set `git pull --ff-only` as default
	ff = only
[push]
;	# set `git push origin HEAD` as default
	default = current
[url "https://"]
;	# use HTTPS
	insteadOf = git://
[url "git@github.com:"]
;	# use SSH
	pushInsteadOf = git://github.com/
	pushInsteadOf = https://github.com/
[include]
	path = ~/.gitconfig.local
