# .bash_profile.local

# tmp
tmpdir="$(readlink -m "${HOME}/tmp")"
if [ ! -d "${tmpdir}" ]; then
  mkdir -m 700 -p "${tmpdir}"
fi

# cache
cachedir="$(readlink -m "${HOME}/.cache")"
if [ ! -d "${cachedir}" ]; then
  mkdir -m 700 -p "${cachedir}"
fi
