# .bash_profile.local

# tmp
if [ -h "${HOME}/tmp" ]; then
  tmpdir="$(readlink -m "${HOME}/tmp")"
  if [ ! -e "${tmpdir}" ]; then
    mkdir -m 700 -p "${tmpdir}"
  fi
fi

# cache
if [ -h "${HOME}/.cache" ]; then
  cachedir="$(readlink -m "${HOME}/.cache")"
  if [ ! -e "${cachedir}" ]; then
    mkdir -m 700 -p "${cachedir}"
  fi
fi
