# .bash_profile.local

# tmp
if [ -h "${HOME}/tmp" ]; then
  tmpdir="$(readlink -f "${HOME}/tmp")"
  if [ ! -e "${tmpdir}" ]; then
    mkdir -m 700 -p "${tmpdir}"
  fi
fi

# cache
if [ -h "${HOME}/.cache" ]; then
  cachedir="$(readlink -f "${HOME}/.cache")"
  if [ ! -e "${cachedir}" ]; then
    mkdir -m 700 -p "${cachedir}"
  fi
fi

# vimswap/vimbackup
if [ -d "${HOME}/tmp" ]; then
  vimswapdir="$(readlink -f "${HOME}/tmp/.vimswap")"
  if [ ! -e "${vimswapdir}" ]; then
    mkdir -m 700 -p "${vimswapdir}"
  fi
  vimbackdir="$(readlink -f "${HOME}/tmp/.vimbackup")"
  if [ ! -e "${vimbackdir}" ]; then
    mkdir -m 700 -p "${vimbackdir}"
  fi
fi
