# .bashrc.env.local

#myproxy="http://proxyserver.internal:8080/"
export http_proxy="${myproxy:-}"
export https_proxy="${myproxy:-}"
export ftp_proxy="${myproxy:-}"
#unset myproxy

export HTTP_PROXY="${http_proxy:-}"
export HTTPS_PROXY="${https_proxy:-}"
export FTP_PROXY="${ftp_proxy:-}"

export no_proxy="127.0.0.1,localhost"
export NO_PROXY="${no_proxy}"

#export MYVIMRC=/path/to/vimrc
#export VIMINIT="source ${MYVIMRC}"

# add ${HOME}/usr/*/bin to PATH
function set_customized_path() {
  local dirs=
  if [ -d "${HOME}/usr" ]; then
    dirs="$(
      find -P "${HOME}/usr" -mindepth 1 -maxdepth 1 -xtype d |
      command grep -v 'local$' | sort -r
    )"
  fi

  local p=
  while read p; do
    if [[ -n "$p" && -d "${p}/bin" ]]; then
      PATH="${p}/bin:${PATH}"
    fi
  done < <(echo "${dirs}")
}
set_customized_path

PATH="${HOME}/bin:${PATH}"
export_uniqued_path
