# .bashrc.env.local

#__proxyserver__="http://proxyserver.internal:8080/"

export http_proxy="${__proxyserver__:-}"
export https_proxy="${__proxyserver__:-}"
export ftp_proxy="${__proxyserver__:-}"

export HTTP_PROXY="${http_proxy:-}"
export HTTPS_PROXY="${https_proxy:-}"
export FTP_PROXY="${ftp_proxy:-}"

export no_proxy="127.0.0.1,localhost"
export NO_PROXY="${no_proxy}"

#export LESSHISTFILE=/dev/null
#export SYSSCREENRC=""

PATH="${HOME}/.local/bin:${PATH}"
export_uniqued_path
